### Project 7 

In this project, you will implement the the clustering techniques that you've learned this week. 

#### Step 1: Load the python libraries that you will need for this project

In [23]:
import pandas as pd 
import matplotlib as plt
import numpy as np
import sklearn as sk 
import psycopg2 as psy

#### Step 2: Examine your data

In [24]:
df_raw = pd.read_csv("assets/airport_cancellations.csv")
df = df_raw.dropna() 
df_raw['Airport'].nunique()

74

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805 entries, 0 to 804
Data columns (total 6 columns):
Airport                    805 non-null object
Year                       805 non-null float64
Departure Cancellations    805 non-null float64
Arrival Cancellations      805 non-null float64
Departure Diversions       805 non-null float64
Arrival Diversions         805 non-null float64
dtypes: float64(5), object(1)
memory usage: 44.0+ KB

In [26]:
df.rename(columns=lambda x: x.replace(' ', '_').lower(), inplace=True)

In [27]:
df.head()

,airport,year,departure_cancellations,arrival_cancellations,departure_diversions,arrival_diversions
0,ABQ,2004.0,242.0,235.0,71.0,46.0
1,ABQ,2005.0,221.0,190.0,61.0,33.0
2,ABQ,2006.0,392.0,329.0,71.0,124.0
3,ABQ,2007.0,366.0,304.0,107.0,45.0
4,ABQ,2008.0,333.0,300.0,79.0,42.0

In [ ]:
# Jason's join code
# joined_df = pd.merge(airport_concellations_df, airport_df, left_on = 'Airport', right_on = 'LocID')

In [23]:
df_raw2 = pd.read_csv("assets/Airport_operations.csv")
# df2 = df_raw2.dropna() 
df2['airport'].nunique()

77

In [32]:
df2.head(1)

,airport,year,departures for metric computation,arrivals for metric computation,percent on-time gate departures,percent on-time airport departures,percent on-time gate arrivals,average_gate_departure_delay,average_taxi_out_time,average taxi out delay,average airport departure delay,average airborne delay,average taxi in delay,average block delay,average gate arrival delay
0,ABQ,2004,53971,53818,0.803,0.7809,0.7921,10.38,9.89,2.43,12.1,2.46,0.83,2.55,10.87

In [31]:
df_raw3 = pd.read_csv('assets/airports.csv')
df3 = df_raw3.dropna()
df3.head(1)

,Key,LocID,AP_NAME,ALIAS,Facility Type,FAA REGION,COUNTY,CITY,STATE,AP Type,Latitude,Longitude,Boundary Data Available
0,3443.0,STX,HENRY E ROHLSEN,Henry E Rohlsen Int'l Airport,Airport,ASO,-VIRGIN ISLANDS-,CHRISTIANSTED,VI,Public Use,17.701556,-64.801722,Yes

In [38]:
df3.rename(columns={'LocID': 'airport'}, inplace=True)

In [47]:
df3.head(1)

,Key,airport,AP_NAME,ALIAS,Facility Type,FAA REGION,COUNTY,CITY,STATE,AP Type,Latitude,Longitude,Boundary Data Available
0,3443.0,STX,HENRY E ROHLSEN,Henry E Rohlsen Int'l Airport,Airport,ASO,-VIRGIN ISLANDS-,CHRISTIANSTED,VI,Public Use,17.701556,-64.801722,Yes

In [41]:
df4 = df.merge(df2, on=['airport', 'year'])

In [43]:
df4 = df4.merge(df3, on='airport')

In [45]:
df4.shape

(799, 31)

In [48]:
pd.set_option('display.max_columns', None)

In [14]:
df4.head()

NameError: name 'df4' is not defined

### Intro: Write a problem statement / aim for this project

We want to understand the behavior of flight cancellations
Answer:

### Part 1: Create a PostgreSQL database

#### 1. Let's create a database where we can house our airport data

In [ ]:
postgres -D /usr/local/pgsql/data >logfile 2>&1 
createdb mydb

Load our csv files into tables

Join airport_cancellations.csv and airports.csv into one table

Query the database for our intial data

In [ ]:
cur = conn.cursor()
cur.execute("""SELECT * FROM mydb""")
ap = cur.fetchall()
print ap

#### 1.2 What are the risks and assumptions of our data?

### Part 2: Exploratory Data Analysis

#### 2.1 Plot and Describe the Data

In [ ]:
ap.head()
ap.describe()

#### Are there any unique values?

### Part 3: Data Mining

#### 3.1 Create Dummy Variables

#### 3.2 Format and Clean the Data

### Part 4: Define the Data

#### 4.1 Confirm that the dataset has a normal distribution. How can you tell?

#### 4.2 Find correlations in the data

#### 4.3 What is the value of understanding correlations before PCA?

Answer:

#### 4.4 Validate your findings using statistical analysis

#### 4.5 How can you improve your overall analysis?

Answer:

### Part 5: Perform a PCA and Present Findings

#### 5.1 Conduct the PCA

In [ ]:
# Create a clean data frame 
ap1 = ap[['airport','year','departure cancellations','arrival cancellations']]
print ap1.head()

#### 5.2 Write an analysis plan of your findings

Create a writeup on the interpretation of findings including an executive summary with conclusions and next steps

### Part 6: Copy your Database to AWS

Make sure to properly document all of the features of your dataset

### Bonus: Create a 3-Dimensional Plot of your new dataset with PCA applied